/* Customizações do PrimeVue */
:root {
  --p-dataview-content-background: transparent !important;
  --p-dataview-header-background: transparent !important;
  --p-togglebutton-background: transparent !important;
  --p-card-background: transparent !important;
}

/* Para modo escuro também */
.dark {
  --p-dataview-content-background: transparent !important;
  --p-dataview-header-background: transparent !important;
  --p-togglebutton-background: transparent !important;
  --p-card-background: transparent !important;
}

/* Forçar background transparente no Card */                                                                                                                                  
.p-card {                                                                                                                                                                     
  background: transparent !important;                                                                                                                                         
}
